<h4>Agregar personaje</h4>
<form (ngSubmit)="emitCharacter()" class="row">
    <input
        class="form-control mb-2"
        type="text"
        name="name"
        [(ngModel)]="character.name"
        placeholder="Nombre">
    <input
        class="form-control mb-2"
        type="text"
        name="power"
        [(ngModel)]="character.power"
        placeholder="Poder">
    <button
        type="submit"
        class="btn btn-primary">
        Agregar
    </button>

    <!-- <pre> {{ character | json }} </pre> -->

</form>