<h3>Listado de H&eacute;roes</h3>

<div *ngIf="deleteHero; else nothingWasDeleted">
    <h3>H&eacute;roe borrado <small class="text-danger">{{ deleteHero }}</small></h3>
</div>
<ng-template #nothingWasDeleted>
    <h3 *ngIf="!deleteHero">No ha borrado nada.</h3>
</ng-template>

<button
    *ngIf="heroesName.length > 0"
    (click)="removeLasHero()"
    class="btn btn-outline-danger">
    Borrar &uacute;ltimo h&eacute;roe
</button>

<ul class="mt-2 list-group">
    <li
        *ngFor="let name of heroesName"
        class="list-group-item">
        <strong>{{name}}</strong>
    </li>
</ul>